<div style="background-color: #5bc0de; color: #fff; margin: 10px; padding: 10px; border-radius: 4px">
  After saving these settings, please refresh the page to update the control
  buttons. There is a fix so that you don't have to refresh the page in the
  works, but it is not complete yet.
</div>

<form class="form-horizontal">
  <div class="control-group">
    <h3>Define your Macros here:</h3>
  </div
</form>



<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Macro1') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.macrosplugin.macro1Name">
            <textarea class="input-block-level" rows="3" data-bind="value: settings.plugins.macrosplugin.macro1"></textarea>
        </div>
    </div>
</form>
	
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Macro2') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.macrosplugin.macro2Name">
            <textarea class="input-block-level" rows="3" data-bind="value: settings.plugins.macrosplugin.macro2"></textarea>
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Macro3') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.macrosplugin.macro3Name">
            <textarea class="input-block-level" rows="3" data-bind="value: settings.plugins.macrosplugin.macro3"></textarea>
        </div>
    </div>
</form>
